.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.title {
  color: black;
}
